[alias]
	bd = branch -d
	bfd = branch -D
	br = branch
	ba = branch -a
	bm = branch -a --merged
	ca = commit -v --amend
	ci = commit -v
	cm = commit -vam
	co = checkout
	ds = diff --staged
	lg = log --graph
	lp = log -p --stat
	pr = pull --rebase
        pp = pull --prune
	st = status
        ap = add -p
        aa = add -A
[user]
	name = HIDEKUNI Kajita
	email = hide.nba@gmail.com
[color]
        ui = auto
[core]
	excludesfile = ~/.gitignore
