*.elc
.emacs.d/ac-comphist.dat
.emacs.d/ac-dict/
.emacs.d/auto-save-list/
.emacs.d/elisp/
.emacs.d/elpa/
.emacs.d/history
.emacs.d/info/
.emacs.d/plugins/
.emacs.d/share/
.emacs.d/url/
.config/hub
.config/direnv
.config/fisherman/
.config/fish/completions/
.config/fish/functions/*
.config/fish/fishd*
.config/fish/conf.d/z.fish
!.config/fish/functions/fish_prompt.fish
!.config/fish/functions/fisher.fish
