[alias]
	br = branch
	bd = branch -d
	bfd = branch -D
	ba = branch -a
	bm = branch -a --merged
	ca = commit -v --amend
	ci = commit -v
	cm = commit -vam
	co = checkout
	cb = checkout -b
	ds = diff --staged
        lga = log --graph --all --color --pretty='%h %ci %cn %s %Cgreen%d%Creset'
	lg = log --graph
	lp = log -p --stat
	pr = pull --rebase --prune
        pp = pull --prune
	st = status
        ap = add -p
        aa = add -A
        rc = rebase --continue
[user]
	name = HIDEKUNI Kajita
	email = hide.nba@gmail.com
[color]
        ui = auto
[core]
	excludesfile = /Users/hidenba/.gitignore
        precomposeunicode = true
        quotepath = off
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
        default = simple
